@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", system-ui;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {
    position: relative;
}

.home ul li {
    width: 20px;
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-top: 24px;
    font-weight: 700;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    font-size: 12px;
    align-items: center;

}

.heading img {
    width: 30px;
}

.m1 {
    margin: 5px;
}

.library {
    min-height: 70vh;
    position: relative;
    padding: 20px 10px;
}

.songList {
    border: 2px solid rgb(128, 128, 128, 0.5);
    padding: 10px;
    margin-top: 20px;
    height: 600px;
    overflow: auto;
    margin-bottom: 34px;
}

.songList .info {
    font-size: 15px;
    width: 344px;
}

.songList ul {
    padding: 10px;
}

.songList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: decimal;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
}

.info {
    display: inline-grid;
}

.playNow {
    display: flex;
}

.playNow * {
    padding: 0px;
}

.playNow span {
    font-size: 15px;
    width: 76px;
    justify-content: center;
    align-items: center;
}


.songList li div {
    padding: 5px 2px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.footer {
    padding: 10px;
}

.right {
    margin: 16px 0;
    padding: 10px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1e1c1c;
    height: 7%;
    align-items: center;
}

.header>* {
    padding: 20px;
}

.Nav-Icons {
    padding: 10px;
    font-size: 20px;
}

.spotifyPlaylist {
    padding: 16px;
   
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
    max-height: 67vh;
    overflow-y: auto;
}

.spotifyPlaylist .card {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 10px;
}

.card {
    position: relative;
}

.circle {
    width: 40px;
   
    height: 40px;
   
    background-color: #1fdf64;
   
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 225px;
    right: 22px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.circle i {
    color: black;
   
    font-size: 18px;
   
    padding-bottom: 10px;

}

.card:hover {
    .circle {
        top: 214px;
        right: 22px;
        opacity: 1;
    }

}

.circle:hover {
    transform: scale(1.05);
    background-color: #29ef71;
    cursor: pointer;
}

.playbar {
    background-color: #252525;
    position: fixed;
    bottom: 30px;
    width: 70vw;
    padding: 19px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    border-radius: 30px;
    height: 50px;
}

.seekbar {
    height: 2px;
    width: 95%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    margin: 5px;
    cursor: pointer;
}

.songButtons {
    display: flex;
    gap: 17px;
    font-size: 20px;
}

.seekCircle {
    height: 20px;
    width: 20px;
    border-radius: 13px;
    position: absolute;
    bottom: -9px;
    background-color: white;
    left: 0%;
    transition: left 0.1s;
    cursor: pointer;
    border: 1px solid black;
}

.songButtons i {
    cursor: pointer;

}

.songButtons {
    position: absolute;
    left: 50%;
}

.aboveBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.songInfo,
.songTime {
    font-size: 15px;
    margin: 3px;
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;
}

.songTime {
    right: 20px;
    
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hamburger {
    font-size: 25px;
    display: none;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
}

.close {
    filter: invert(1);
    z-index: 1;
    right: 0px;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 25px;
    width: 25px;
    filter: invert(1);
    display: none;
    cursor: pointer;
}

.volume{
    height: 20px;
    filter: invert(1);
}

.timeandvol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.badge{
    height: 2rem;
}




@media (max-width: 1670px){
    .playbar{
        width: 69vw;
    }

    .music-icon{
        font-size: 30px;
    }

}



    @media (max-width: 1400px) {
        .left {
            width: 370px;
            position: absolute;
            left: -140%;
            transition: all 0.5s;
            z-index: 1;
            background-color: black;
        }

        .songButtons,
        .songInfo,
        .songTime {
            position: static;
            font-size: 10px;
            font-size: 15px;
        }

        .songInfo{
            width: 30%;
        }

        .aboveBar {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }

        .right {
            margin: 10px;
            width: 98%;
            height: 100vh;
        }

        .playbar {
            width: 92vw;
        }

        .hamburger {
            display: block;
        }
    }

    @media (max-width: 970){
        .playbar{
            width: 89vw;
        }
    }
    @media (max-width: 870){
        .playbar{
            width: 82vw;
        }
    }

    @media (max-width: 1024px){
        .playbar{
            width:91vw;
            height: 17%;
        }
        .aboveBar{
             display: block;

        }
        .spotifyPlaylist .card {
            width: 163px;
            padding: 11px;
            height: 268px;
        }
        .songInfo,.songButtons,.songTime{
            display: flex;
            justify-content: center;
            font-size: 12px;
            margin: 0px;
            margin-bottom: 18px;
            text-wrap: wrap;
            font-size: 14px;
        }
        .songInfo{
            width: 100%;
            font-size: 16px;
        }
        .volume{
            display: none;
        }
    }

    @media (max-width: 1023px) and (min-width: 769px) {
          .volume{
            display: none;
        }

        .playbar{
            width:91vw;
            height:11%;
        }
        .aboveBar{
             display: block;

        }
        .spotifyPlaylist .card {
            width: 163px;
            padding: 11px;
            height: 268px;
        }
        .songInfo,.songButtons,.songTime{
            display: flex;
            justify-content: center;
            font-size: 12px;
            margin: 0px;
            margin-bottom: 18px;
            text-wrap: wrap;
            font-size: 14px;
        }
        .songInfo{
            width: 100%;
            font-size: 16px;
        }
    }

    
    
    @media (min-width: 680px) and (max-width: 768px) {
        .volume{
            display: none;
        }

        .playbar{
            width:86vw;
            height: 11%;
        }
        .aboveBar{
             display: block;

        }
        .spotifyPlaylist .card {
            width: 163px;
            padding: 11px;
            height: 268px;
        }
        .songInfo,.songButtons,.songTime{
            display: flex;
            justify-content: center;
            font-size: 12px;
            margin: 0px;
            margin-bottom: 18px
            
        }
        .songInfo{
            width: 100%;
        }
    }

   
    @media (min-width: 480px) and (max-width: 680px){
        .playbar{
            width:86vw;
            height: 11%;
        }
        .aboveBar{
             display: block;

        }

        .volume{
            display: none;
        }

        .spotifyPlaylist .card {
            width: 163px;
            padding: 11px;
            height: 268px;
        }
        .songInfo,.songButtons,.songTime{

            display: flex;
            justify-content: center;
            font-size: 12px;
            margin-bottom: 18px
        }
        .songInfo{
            width: 100%;
        }

    }
    

    @media (min-width: 300px) and (max-width: 479px){

       

        .volume{
            display: none;
        }


        .cardContainer {
            align-items: center;
            justify-content: center;
            height: 600px;
        }
        .playbar{
            width: 82vw;
            height: 14%;
        }
        .aboveBar{
            display: block;

       }
        spotifyPlaylist .card {
            width: 163px;
            padding: 11px;
            height: 268px;
        }
        .songInfo,.songButtons,.songTime{
            display: flex;
            justify-content: center;
            font-size: 15px;
            margin-bottom: 18px
        }
        .songInfo{
            width: 80%;
            text-wrap: wrap;
        }

       
        .header > *{
            padding: 10px;
        }
    }

    

    

    @media (max-width: 376px){
        .nav{
            display: none;
        }
        .songInfo,.songTime{
            font-size: 10px;
        }
        .left{
            width: 350px;
        }
        .songTitle{
            font-size: 13px;
        }
        .music-icon{
            font-size: 20px;
        }

        .volume{
            display: none;
        }


    }
